<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

<h2>Edit Student</h2>

<form method="POST">

    Admission:<br>
    <input type="text" name="admission" value="{{ student.admission }}"><br><br>

    First Name:<br>
    <input type="text" name="first_name" value="{{ student.first_name }}"><br><br>

    Last Name:<br>
    <input type="text" name="last_name" value="{{ student.last_name }}"><br><br>

    Gender:<br>
    <select name="gender">
        <option {% if student.gender == 'Male' %}selected{% endif %}>Male</option>
        <option {% if student.gender == 'Female' %}selected{% endif %}>Female</option>
    </select><br><br>

    DOB:<br>
    <input type="date" name="dob" value="{{ student.dob }}"><br><br>

    Class:<br>
    <input type="text" name="class" value="{{ student.class }}"><br><br>

    Stream:<br>
    <input type="text" name="stream" value="{{ student.stream }}"><br><br>

    Parent:<br>
    <input type="text" name="parent" value="{{ student.parent }}"><br><br>

    Phone:<br>
    <input type="text" name="phone" value="{{ student.phone }}"><br><br>

    Photo URL:<br>
    <input type="text" name="photo" value="{{ student.photo }}"><br><br>

    <button type="submit">Update Student</button>

</form>

<br>
<a href="/students">Back to Students</a>

</body>
</html>